body{
    font-size: x-large;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 205, 233);
}
.main{
    text-align: center;
    span{
        font-size: medium;
    }
}
.container{
    
    .MuiButton-root{
        margin-top: 2rem;
    }
    max-width: 50em;
    justify-content: space-evenly;
    .forms{
         padding: 4rem;
    }
    .muiButton-root{
       color: aqua;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3rem;
        
    }

    
    width: 100%;
}
span {
    justify-content: center;
    text-align: center;

    a {
        text-decoration: none;
    }

}
